{% extends 'AdminBundle::layout.html.twig' %}

{% block title %}Edit {{ user.name }}{% endblock %}

{% block section %}
    <div class=row">

        <h1 class="text-center">Edit {{ user.name }}</h1>
        <div class="create">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Update"/></center>

            {{ form_end(edit_form) }}

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <ul>
                <li>
                    <a href="{{ path('admin_user_index') }}">Back to the list</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>

    </div>
{% endblock %}